* {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}
img {
    width: 120px;
    height: 120px;
    border-radius: 25px;
    display: block;
    margin: 0px auto;
    box-shadow: 10px 15px 33px 10px #ddd;
}
h1 {
    margin: 30px 0px 0px 580px
}
#study {
    font-weight: 200;
    color: #333;
}
#login {
    width: 350px;
    height: 475px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #eee;
    text-align: center;
}
.login-buttons {
    padding-top: 30px;
    margin: auto;
}
.login-buttons button {
    width: 150px;
    height: 46px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
}
.login-buttons button:hover{
    background-color: #4671f3;
    color: white;
}
#location, #password, #phone {
    padding-top: 35px;
}
.academy-name {
    width: 180px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
}
#academy-location {
    width: 120px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #ccc;
}
#phone select {
    width: 90px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.number1, .number2 {
    width: 90px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #ccc;
}
#password input {
    width: 300px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #ccc;
}
#text1 p {
    margin: 10px 0px 0px 23px;
    font-size: 12px;
    color: #666;
    text-align: left;
}
#login-btn {
    padding-top: 20px;
}
#login-btn button {
    width: 300px;
    height: 36px;
    background-color: #4671f3;
    border: 1px solid #4671f3;
    border-radius: 5px;
    color: #fff;
}
#text2, #text3 {
    padding-top: 20px;
}
#text2 p {
    font-size: 13px;
    text-align: center;
    color: #ccc;
}
#text3 p {
    padding-bottom: 20px;
    font-size: 13px;
    text-align: center;
    color: #ccc;
}
#text3 span {
    color: blue;
}
