* {
    margin: 0px;
    padding: 0px;
}
.box {
    margin: 0px auto;
    /* border: 1px solid blue; */
    text-align: center;
}
header {
    height: 150px;
    /* border: 1px solid #ff0000; */
}
#menu_right {
    float: right;
    margin-top: 20px;
    font-size: 8px;
    color: #ccc;
}
#serch {
    display: block;
    clear: both;
    margin: 40px;
}