table {
    border-collapse: collapse;
    border-top: 3px solid #000;
}
td {
    border-bottom: 1px solid #ccc;
}
.col1 {
    width: 80px;
    padding: 5px 15px;
    padding: 10px;
}
input {
    width: 500px;
    height: 25px;
}
textarea {
    width: 500px;
    height: 100px;
}
#buttons {
    width: 620px;
    text-align: right;
    margin-top: 20px;
}
button {
    padding: 5px 20px;
    margin-left: 3px;
}
input, textarea {
    margin: 10px 10px 10px 0px;
}