* {
    margin: 0px;
    padding: 0px;
}
#dress {
    width: 600px;
    height: 855px;
    background: url('../img/blue_bg.png');
    background-size: cover;
    font-family: '돋움';
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px #888;
    color: #fed45a;
    font-family: '돋움체';
    margin: 30px;
}
h1 {
    font-family: '맑은 고딕';
    font-size: 60px;
    text-shadow: 3px 3px 10px #000;
    padding-top: 20px;
}
p {
    margin: 30px 60px;
    line-height: 150%;
    color: #fff;
}
#eng {

    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
    color: #fed45a
}
img {
    width: 400px;
}
ul {
    margin-top: 20px;
}
li {
    text-align: left;
    list-style-type: square;
    margin-left: 120px;
    padding: 10px 0px 0px 15px;
    line-height: 150%;
}
#button {
    background-color: #fed45a;
    padding: 20px;
    margin: 40px 100px;
    color: #13214d;
    font-size: 30px;
    font-weight: bold;
}
